header {
	width: 1300px;
	display: block;
	margin: 0 auto;
	height: 90px;
	z-index: 10;
	background-color: $color2;
	.logo {
		display: block;
		width: 170px;
		height: 100%;
		float: left;
		svg {
			margin-top: 48px;
			transition: fill .2s ease-out;
			&:hover {fill: $blue;}
		}
	}
	ul.nav {
		display: block;
		float: right;
		height: 90px;
		li {
			display: inline-block;
			height: 90px;
			line-height: 110px;
			list-style: none;
			margin-left: 30px;
			cursor: pointer;
			a {
				font-size: 18px;
				font-weight: 600;
				text-transform: lowercase;
				transition: color .2s ease-out;
				font-family: 'Montserrat', sans-serif;
				&:hover {
					color: $blue;
				}
			}
			&:hover ul {
				display: block;
				opacity: 1;
			}
			ul {
				z-index: 10;
				background: $color1;
				border-radius: 7px;
				box-shadow: 0px 20px 70px -38px rgba(0,0,0,0.75);
				padding: 20px;
				margin-left: -20px;
				display: none;
				position: absolute;
				animation: box .2s ease;
				&:hover {
					opacity: 1;
        			transform: translateY(0);
					box-shadow: 0px 25px 70px -38px rgba(0,0,0,0.75);
				}
				li {
					display: block;
					margin: 0;
					height: 40px;
					line-height: 40px;
					a {
						color: $color2;
						font-family: 'Montserrat', sans-serif;
					}
				}
			}
		}
		.searchButton, .menuButton, .modeButton {
			height: 100%;
			float: right;
			position: relative;
			z-index: 4;
			button {
				background: none !important;
				border: 0 !important;
				padding: 0;
				margin: 0;
				cursor: pointer;
				span {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					font-size: 18px;
					font-weight: 600;
					text-transform: lowercase;
					padding-right: 8px;
					transition: .2s ease-out;
					font-family: 'Montserrat', sans-serif;
					&:hover i.fa, &:hover i.far, &:hover {
						color: $blue;
					}
					i.fa {
						transition: .2s ease-out;
						padding-left: 5px;
						font-size: 14px;
					}
					i.far {
						transition: .2s ease-out;
						padding-left: 5px;
						font-size: 20px;
					}
				}
			}
		}
	}
	.menuButton {
		display: none;
		width: 32px;
		height: 100%;
		float: left;
		justify-content: flex-start;
		button {
			border: none;
			background: transparent;
			span {
				font-size: 24px;
				font-family: 'Montserrat', sans-serif;
			}
		}
	}
	div.searchButton {
		display: none;
		width: 32px;
		height: 100%;
		float: right;
		justify-content: flex-end;
		button {
			border: none;
			background: transparent;
			span {
				font-size: 24px;
				font-family: 'Montserrat', sans-serif;
			}
		}
	}
	.active-m {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		display: none;
		opacity: 0;
	}
}

.min {
	height: 53px;
	background-color: $color2;
	position: fixed;
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
	box-shadow: 0px 3px 34px -11px rgba(0,0,0,.25);
	overflow: hidden;
	animation-name: hd-min;
	animation-duration: .2s;
	.logo {
		width: 150px;
		svg {
			margin-top: 16px;
		}
	}
	.nav {
		height: 50px;
		li {
			line-height: 50px;
		}
	}
}

ul.m-nav {
	width: 100vw;
	height: 100vh;
	z-index: 999999999999 !important;
	position: fixed;
	float: left;
	list-style: none;
	text-align: center;
	padding-top: 100px;
	transition: all .3s ease-in-out;
	li a {
		font-weight: 700;
		font-size: 28px;
		font-family: 'Montserrat', sans-serif;
	}
}

@media screen and (max-width: 1400px) {
	header {
		width: 80%;
		.searchForm {
			width: 80%;
		}
	}
}

@media screen and (max-width: 600px) {
	#progress {margin-top: -56px;}
}

@media screen and (max-width: 785px) {
	header {
		text-align: center;
		a.logo {
			float: none;
			margin: 0 auto;
			text-align: center;
			display: inline-block;
		}
		ul.nav {display: none;}
		.searchButton {
			width: 38px;
			margin: 0;
			float: right;
			justify-content: flex-start;
			button span p {
				display: none;
			}
		}
		.menuButton, div.searchButton {
			width: 38px;
			margin: 0;
			display: flex;
		}
	}
}
