.php_error {
    margin-top: -10px;
    font-size: 21px;
    z-index: 9678574365657485967586475376875986785647568579 !important;
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    background-color: rgba(255, 64, 64, 0.74);
    color: white;
    i {
        float: right;
        color: inherit;
        cursor: pointer;
    }
}

#progress {
	width: 0%;
	height: 3px;
    position: fixed;
    margin-top: -10px;
	z-index: 457665764675664567465756435675464554675;
	background: $blue;
	box-sizing: border-box;
}

.bodyContent {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.4s, opacity 0.4s;
}

.search-active, .menu-active {
    transform: scale3d(0.98, 0.98, 1);
	filter: blur(5px);
	pointer-events: none;
	overflow: hidden;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.4s, opacity 0.4s;
	&::before {
		content: '';
		display: block;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: rgba($color2, .5);
	}
}

.disable, #disable {display: none !important}