.php_error {
    margin-top: -10px;
    font-size: 21px;
    z-index: 9678574365657485967586475376875986785647568579 !important;
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    background-color: rgba(255, 64, 64, 0.74);
    color: white;
    i {
        float: right;
        color: inherit;
        cursor: pointer;
    }
}